html, body {
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  transition: none;
}


.heroSectionContentH2 {

    color: #2B2A29;

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 60px */
}

.heroSectionContentH1 {
    color: #3E4695;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    /* 80px */
}


.heroSectionContentP {
    color: #2B2A29;

    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding-top: 10px;
    /* 45px */
}



.StopGuessingContantH3 {
    color: #3E4695;
    font-family: Inter;

    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    /* 50px */
}

.StopGuessingContantP {
    color: #2B2A29;
    font-family: Inter;

    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 45px */
}

.StopGuessingBenifits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.672px;
    flex-shrink: 0;
}

.StopGuessingBenifitsFirst {
    display: flex;
    align-items: center;
    text-align: center;
 
    padding: 53.703px 39.894px;
    border-radius: 691.933px 691.933px 0 691.935px;
    border: 1px solid #FFF;
 
    box-shadow: 0 8px 12px 0 rgba(194, 194, 194, 0.25);
}

.StopGuessingBenifitsSecond {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 53.703px 39.894px;
    border-radius: 691.933px 691.933px 691.933px 0;
    border: 1px solid #FFF;
  
    box-shadow: 0 8px 12px 0 rgba(194, 194, 194, 0.25);
}


.StopGuessingBenifitsThard {
    display: flex;
    align-items: center;
    text-align: center;
 
    padding: 53.703px 39.894px;
    border-radius: 691.933px 0px 691.933px 691.933px;
    border: 1px solid #FFF;
 
    box-shadow: 0 8px 12px 0 rgba(194, 194, 194, 0.25);
}

.StopGuessingBenifitsLayoutForth {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 53.703px 39.894px;
    border-radius: 0px 691.933px 691.933px 691.933px;
    border: 1px solid #FFF;
    box-shadow: 0 8px 12px 0 rgba(194, 194, 194, 0.25);
}


.StopGuessingBenifitsLayoutContent {
    color: #2B2A29;

    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 37.5px */
}


.pricingSectionH3 {
    color: #3E4695;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    /* 50px */

}

.pricingTableColor {
    background: #3E4695;
    color: #fff;
}

.AllInOneH3 {
    color: #3E4695;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    /* 50px */
}

.AllInOneP {
    color: #2B2A29;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.AllInOneBorder {
    border-radius: 15px;
    border-left: 10px solid #3E4695;
    background: #F0F3F8;
    display: flex;
    padding: 12px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}



.ResearchSectionHeading{
color: #2B2A29;

text-align: center;
font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */}

.TestimonialsHeading{
    color: #3E4695;
font-family: Inter;

font-style: normal;
font-weight: 800;
line-height: 150%; /* 60px */
}

.TestimonialsPra{
    color: #2B2A29;
text-align: center;
font-family: Inter;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 45px */
}


.AwardSliderHeading{
    color: #3E4695;
font-family: Inter;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 60px */
}

.AwardSliderPra{
    color: #2B2A29;
text-align: center;
font-family: Inter;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 45px */
}


.FaqHeading{
    color: #3E4695;
font-family: Inter;

font-style: normal;
font-weight: 800;
line-height: 150%; /* 60px */
}

.FaqPra{
    color: #2B2A29;
text-align: center;
font-family: Inter;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 45px */
}

.faqHeadinFirst{
    color: #3E4695;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 33.8px */
}

.TradeWithoutLimitsgradient {
    font-weight: bold;
    background: linear-gradient(90deg, #3c438f, #1ec69f);
    -webkit-background-clip: text;
    color: transparent;
    line-height: normal;
}



@media (max-width:1440px) {
    .mobileVeiw{padding-top: 100px;}
 }

@media (max-width:1200px) { 

   .mobileVeiw{padding-top: 130px;}
}

@media (max-width:992px)  { 

   .mobileVeiw{padding-top: 180px;}
}

@media (max-width:768px)  { 

   .mobileVeiw{padding-top: 180px;}
}

@media (max-width:576px)  { 
    .heroSectionContentH1{font-size: 50px; padding-bottom: 5px;}
   .heroSectionContentH2{font-size: 25px;}
   .mobileVeiw{padding-top: 140px;}
   .heroSectionContentP {font-size: 22px;}
}


